# Analysis of the NYC flights dataset for 2013

In this notebook notebook, we're going to explore the NYC flights dataset and see if we can find interesting patterns.

<img src='Newark.jpg'>

In [139]:
import pandas as pd
import matplotlib.pyplot as plt
import datetime

In [3]:
# Loading the data
df = pd.read_csv('flights.csv')

In [5]:
# Get the dimensions of the dataset
df.shape

(336776, 19)

In [6]:
# Column names
df.columns

Index(['year', 'month', 'day', 'dep_time', 'sched_dep_time', 'dep_delay',
       'arr_time', 'sched_arr_time', 'arr_delay', 'carrier', 'flight',
       'tailnum', 'origin', 'dest', 'air_time', 'distance', 'hour', 'minute',
       'time_hour'],
      dtype='object')

In [7]:
# Datatypes of columns
df.dtypes

year                int64
month               int64
day                 int64
dep_time          float64
sched_dep_time      int64
dep_delay         float64
arr_time          float64
sched_arr_time      int64
arr_delay         float64
carrier            object
flight              int64
tailnum            object
origin             object
dest               object
air_time          float64
distance            int64
hour                int64
minute              int64
time_hour          object
dtype: object

In [8]:
# Preview of what we're working with
df.head()

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 05:00:00
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01 05:00:00
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01 05:00:00
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01 06:00:00

In [27]:
# The percentage of non null data for each column
df.describe().loc['count'] / df.shape[0]

year              1.000000
month             1.000000
day               1.000000
dep_time          0.975488
sched_dep_time    1.000000
dep_delay         0.975488
arr_time          0.974128
sched_arr_time    1.000000
arr_delay         0.971999
flight            1.000000
air_time          0.971999
distance          1.000000
hour              1.000000
minute            1.000000
Name: count, dtype: float64

In [29]:
# The percentage of data that's left when considering only complete rows
df.dropna().describe().loc['count'] / df.shape[0]

year              0.971999
month             0.971999
day               0.971999
dep_time          0.971999
sched_dep_time    0.971999
dep_delay         0.971999
arr_time          0.971999
sched_arr_time    0.971999
arr_delay         0.971999
flight            0.971999
air_time          0.971999
distance          0.971999
hour              0.971999
minute            0.971999
Name: count, dtype: float64

In [36]:
# Exploring rows that have a null field
mask = df.isnull().any(axis=1)
df[mask]

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
471,2013,1,1,1525.0,1530,-5.0,1934.0,1805,NaN,MQ,4525,N719MQ,LGA,XNA,NaN,1147,15,30,2013-01-01 15:00:00
477,2013,1,1,1528.0,1459,29.0,2002.0,1647,NaN,EV,3806,N17108,EWR,STL,NaN,872,14,59,2013-01-01 14:00:00
615,2013,1,1,1740.0,1745,-5.0,2158.0,2020,NaN,MQ,4413,N739MQ,LGA,XNA,NaN,1147,17,45,2013-01-01 17:00:00
643,2013,1,1,1807.0,1738,29.0,2251.0,2103,NaN,UA,1228,N31412,EWR,SAN,NaN,2425,17,38,2013-01-01 17:00:00
725,2013,1,1,1939.0,1840,59.0,29.0,2151,NaN,9E,3325,N905XJ,JFK,DFW,NaN,1391,18,40,2013-01-01 18:00:00
733,2013,1,1,1952.0,1930,22.0,2358.0,2207,NaN,EV,4333,N11194,EWR,TUL,NaN,1215,19,30,2013-01-01 19:00:00
754,2013,1,1,2016.0,1930,46.0,NaN,2220,NaN,EV,4204,N14168,EWR,OKC,NaN,1325,19,30,2013-01-01 19:00:00
838,2013,1,1,NaN,1630,NaN,NaN,1815,NaN,EV,4308,N18120,EWR,RDU,NaN,416,16,30,2013-01-01 16:00:00
839,2013,1,1,NaN,1935,NaN,NaN,2240,NaN,AA,791,N3EHAA,LGA,DFW,NaN,1389,19,35,2013-01-01 19:00:00
840,2013,1,1,NaN,1500,NaN,NaN,1825,NaN,AA,1925,N3EVAA,LGA,MIA,NaN,1096,15,0,2013-01-01 15:00:00
841,2013,1,1,NaN,600,NaN,NaN,901,NaN,B6,125,N618JB,JFK,FLL,NaN,1069,6,0,2013-01-01 06:00:00
1071,2013,1,2,905.0,822,43.0,1313.0,1045,NaN,EV,4140,N15912,EWR,XNA,NaN,1131,8,22,2013-01-02 08:00:00
1180,2013,1,2,1125.0,925,120.0,1445.0,1146,NaN,9E,3658,N8783E,LGA,GRR,NaN,618,9,25,2013-01-02 09:00:00
1604,2013,1,2,1848.0,1840,8.0,2333.0,2151,NaN,9E,3325,N920XJ,JFK,DFW,NaN,1391,18,40,2013-01-02 18:00:00
1606,2013,1,2,1849.0,1724,85.0,2235.0,1938,NaN,EV,4321,N14998,EWR,MCI,NaN,1092,17,24,2013-01-02 17:00:00
1650,2013,1,2,1927.0,1930,-3.0,2359.0,2306,NaN,9E,3401,N908XJ,JFK,SAT,NaN,1587,19,30,2013-01-02 19:00:00
1714,2013,1,2,2041.0,2045,-4.0,NaN,2359,NaN,B6,147,N630JB,JFK,RSW,NaN,1074,20,45,2013-01-02 20:00:00
1756,2013,1,2,2145.0,2129,16.0,NaN,33,NaN,UA,1299,N12221,EWR,RSW,NaN,1068,21,29,2013-01-02 21:00:00
1777,2013,1,2,NaN,1540,NaN,NaN,1747,NaN,EV,4352,N10575,EWR,CVG,NaN,569,15,40,2013-01-02 15:00:00
1778,2013,1,2,NaN,1620,NaN,NaN,1746,NaN,EV,4406,N13949,EWR,PIT,NaN,319,16,20,2013-01-02 16:00:00
1779,2013,1,2,NaN,1355,NaN,NaN,1459,NaN,EV,4434,N10575,EWR,MHT,NaN,209,13,55,2013-01-02 13:00:00
1780,2013,1,2,NaN,1420,NaN,NaN,1644,NaN,EV,4935,N759EV,EWR,ATL,NaN,746,14,20,2013-01-02 14:00:00
1781,2013,1,2,NaN,1321,NaN,NaN,1536,NaN,EV,3849,N13550,EWR,IND,NaN,645,13,21,2013-01-02 13:00:00
1782,2013,1,2,NaN,1545,NaN,NaN,1910,NaN,AA,133,NaN,JFK,LAX,NaN,2475,15,45,2013-01-02 15:00:00
1783,2013,1,2,NaN,1330,NaN,NaN,1640,NaN,AA,753,N3FBAA,LGA,DFW,NaN,1389,13,30,2013-01-02 13:00:00
1784,2013,1,2,NaN,1601,NaN,NaN,1735,NaN,UA,623,NaN,EWR,ORD,NaN,719,16,1,2013-01-02 16:00:00
2074,2013,1,3,1025.0,1032,-7.0,1521.0,1240,NaN,EV,4255,N34110,EWR,CHS,NaN,628,10,32,2013-01-03 10:00:00
2212,2013,1,3,1348.0,1350,-2.0,1821.0,1628,NaN,DL,1705,N324NB,LGA,MSY,NaN,1183,13,50,2013-01-03 13:00:00
2537,2013,1,3,1904.0,1659,125.0,2327.0,2046,NaN,9E,3375,N916XJ,JFK,SAT,NaN,1587,16,59,2013-01-03 16:00:00
2560,2013,1,3,1928.0,1928,0.0,19.0,2129,NaN,EV,4532,N14171,EWR,CHS,NaN,628,19,28,2013-01-03 19:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
332193,2013,9,25,NaN,1655,NaN,NaN,1840,NaN,MQ,3411,N735MQ,LGA,RDU,NaN,431,16,55,2013-09-25 16:00:00
332194,2013,9,25,NaN,1559,NaN,NaN,1719,NaN,MQ,3748,N530MQ,EWR,ORD,NaN,719,15,59,2013-09-25 15:00:00
332671,2013,9,26,1331.0,1329,2.0,1923.0,1813,NaN,UA,15,N67052,EWR,HNL,NaN,4963,13,29,2013-09-26 13:00:00
333188,2013,9,26,NaN,915,NaN,NaN,1141,NaN,EV,5109,N748EV,LGA,CHS,NaN,641,9,15,2013-09-26 09:00:00
333189,2013,9,26,NaN,1400,NaN,NaN,1512,NaN,US,2183,NaN,LGA,DCA,NaN,214,14,0,2013-09-26 14:00:00
333190,2013,9,26,NaN,1240,NaN,NaN,1525,NaN,WN,4720,N691WN,EWR,HOU,NaN,1411,12,40,2013-09-26 12:00:00
333666,2013,9,27,1332.0,1329,3.0,1629.0,1509,NaN,AA,331,N565AA,LGA,ORD,NaN,733,13,29,2013-09-27 13:00:00
334177,2013,9,27,2253.0,1945,188.0,NaN,2146,NaN,EV,5306,N605QX,LGA,GSO,NaN,461,19,45,2013-09-27 19:00:00
334183,2013,9,27,NaN,600,NaN,NaN,730,NaN,AA,301,N584AA,LGA,ORD,NaN,733,6,0,2013-09-27 06:00:00
334184,2013,9,27,NaN,2100,NaN,NaN,2211,NaN,US,2164,NaN,LGA,BOS,NaN,184,21,0,2013-09-27 21:00:00
334185,2013,9,27,NaN,1329,NaN,NaN,1444,NaN,MQ,3760,N505MQ,EWR,ORD,NaN,719,13,29,2013-09-27 13:00:00
334186,2013,9,27,NaN,1600,NaN,NaN,1739,NaN,UA,269,NaN,LGA,ORD,NaN,733,16,0,2013-09-27 16:00:00
334197,2013,9,28,555.0,600,-5.0,953.0,753,NaN,EV,5068,N133EV,EWR,DTW,NaN,488,6,0,2013-09-28 06:00:00
334354,2013,9,28,847.0,839,8.0,1130.0,959,NaN,EV,4510,N14542,EWR,MKE,NaN,725,8,39,2013-09-28 08:00:00
334412,2013,9,28,1010.0,1020,-10.0,1344.0,1222,NaN,EV,4412,N12175,EWR,DSM,NaN,1017,10,20,2013-09-28 10:00:00
334495,2013,9,28,1214.0,1225,-11.0,1801.0,1510,NaN,AA,300,N488AA,EWR,DFW,NaN,1372,12,25,2013-09-28 12:00:00
334866,2013,9,28,NaN,1803,NaN,NaN,1927,NaN,EV,5563,N724EV,LGA,BTV,NaN,258,18,3,2013-09-28 18:00:00
334867,2013,9,28,NaN,910,NaN,NaN,1220,NaN,AA,1,N320AA,JFK,LAX,NaN,2475,9,10,2013-09-28 09:00:00
334868,2013,9,28,NaN,1635,NaN,NaN,1827,NaN,US,581,NaN,EWR,CLT,NaN,529,16,35,2013-09-28 16:00:00
335534,2013,9,29,1734.0,1711,23.0,2159.0,2020,NaN,UA,327,N463UA,EWR,PDX,NaN,2434,17,11,2013-09-29 17:00:00
335780,2013,9,29,NaN,2054,NaN,NaN,2302,NaN,EV,4536,N13988,EWR,CVG,NaN,569,20,54,2013-09-29 20:00:00
335781,2013,9,29,NaN,1830,NaN,NaN,2010,NaN,MQ,3134,N508MQ,EWR,ORD,NaN,719,18,30,2013-09-29 18:00:00
335782,2013,9,29,NaN,700,NaN,NaN,833,NaN,UA,331,NaN,LGA,ORD,NaN,733,7,0,2013-09-29 07:00:00
335805,2013,9,30,559.0,600,-1.0,NaN,715,NaN,WN,464,N411WN,EWR,MDW,NaN,711,6,0,2013-09-30 06:00:00
336770,2013,9,30,NaN,1842,NaN,NaN,2019,NaN,EV,5274,N740EV,LGA,BNA,NaN,764,18,42,2013-09-30 18:00:00
336771,2013,9,30,NaN,1455,NaN,NaN,1634,NaN,9E,3393,NaN,JFK,DCA,NaN,213,14,55,2013-09-30 14:00:00
336772,2013,9,30,NaN,2200,NaN,NaN,2312,NaN,9E,3525,NaN,LGA,SYR,NaN,198,22,0,2013-09-30 22:00:00
336773,2013,9,30,NaN,1210,NaN,NaN,1330,NaN,MQ,3461,N535MQ,LGA,BNA,NaN,764,12,10,2013-09-30 12:00:00
336774,2013,9,30,NaN,1159,NaN,NaN,1344,NaN,MQ,3572,N511MQ,LGA,CLE,NaN,419,11,59,2013-09-30 11:00:00
336775,2013,9,30,NaN,840,NaN,NaN,1020,NaN,MQ,3531,N839MQ,LGA,RDU,NaN,431,8,40,2013-09-30 08:00:00

In [53]:
# Keeping only complete records
df_clean = df.dropna()

In [58]:
# Finding out the busiest month
df_clean.groupby('month')['flight'].count().sort_values(ascending=False)

month
8     28756
10    28618
7     28293
5     28128
3     27902
4     27564
6     27075
12    27020
9     27010
11    26971
1     26398
2     23611
Name: flight, dtype: int64

In [90]:
# Finding out the most frequent flight
busiest_flight = df_clean.groupby('flight')['day'].count().idxmax()
df_clean.loc[df_clean['flight'] == busiest_flight, ['carrier', 'origin', 'dest']].drop_duplicates()

       carrier origin dest
379         UA    EWR  HNL
590         B6    JFK  FLL
27109       AS    EWR  SEA
27232       B6    JFK  SFO
224929      US    JFK  PHX

In [96]:
# Finding out the most frequent flight (take 2)
df_clean.assign(org_dep=df_clean['origin']+'_'+df_clean['dest']).groupby('org_dep')['day'].count().idxmax()

'JFK_LAX'

In [144]:
def convert_dep_time(row, dep):
    date = '%s%s%s' % (str(row['year']), '%02d' % row['month'], '%02d' % row['day'])
    time = '%04d' % row[dep] if row[dep] < 2400 else '0000'
    return datetime.datetime.strptime(date + time, '%Y%m%d%H%M')

def convert_arr_time(row, arr):
    date = '%s%s%s' % (str(row['year']), '%02d' % row['month'], '%02d' % row['day'])
    time = '%04d' % row[arr] if row[arr] < 2400 else '0000'
    if row['dep_time'] < row['arr_time']:
        return datetime.datetime.strptime(date + time, '%Y%m%d%H%M')
    else:
        return datetime.datetime.strptime(date + time, '%Y%m%d%H%M') + datetime.timedelta(days=1)

In [145]:
df_clean.apply(convert_arr_time, arr='arr_time', axis=1)

0        2013-01-01 08:30:00
1        2013-01-01 08:50:00
2        2013-01-01 09:23:00
3        2013-01-01 10:04:00
4        2013-01-01 08:12:00
5        2013-01-01 07:40:00
6        2013-01-01 09:13:00
7        2013-01-01 07:09:00
8        2013-01-01 08:38:00
9        2013-01-01 07:53:00
10       2013-01-01 08:49:00
11       2013-01-01 08:53:00
12       2013-01-01 09:24:00
13       2013-01-01 09:23:00
14       2013-01-01 09:41:00
15       2013-01-01 07:02:00
16       2013-01-01 08:54:00
17       2013-01-01 08:51:00
18       2013-01-01 08:37:00
19       2013-01-01 08:44:00
20       2013-01-01 08:12:00
21       2013-01-01 08:21:00
22       2013-01-01 08:58:00
23       2013-01-01 08:37:00
24       2013-01-01 08:58:00
25       2013-01-01 08:07:00
26       2013-01-01 09:45:00
27       2013-01-01 09:25:00
28       2013-01-01 10:39:00
29       2013-01-01 08:33:00
                 ...
336740   2013-09-30 22:46:00
336741   2013-09-30 23:17:00
336742   2013-09-30 23:10:00
336743   2013-09-30 23:30:00
336744   2013-09-30 23:49:00
336745   2013-09-30 22:26:00
336746   2013-09-30 22:23:00
336747   2013-09-30 23:14:00
336748   2013-09-30 23:28:00
336749   2013-09-30 22:30:00
336750   2013-09-30 22:25:00
336751   2013-10-01 00:10:00
336752   2013-09-30 22:50:00
336753   2013-10-01 01:15:00
336754   2013-10-01 00:30:00
336755   2013-09-30 22:45:00
336756   2013-09-30 22:50:00
336757   2013-09-30 23:44:00
336758   2013-09-30 23:39:00
336759   2013-09-30 22:57:00
336760   2013-09-30 23:39:00
336761   2013-09-30 23:35:00
336762   2013-10-01 01:12:00
336763   2013-10-01 00:59:00
336764   2013-09-30 23:45:00
336765   2013-09-30 23:34:00
336766   2013-09-30 23:47:00
336767   2013-09-30 23:45:00
336768   2013-09-30 23:59:00
336769   2013-10-01 03:25:00
Length: 327346, dtype: datetime64[ns]